.center {
    text-align: center;
}

/*.formlogin {
    padding: 5px 5px 5px 5px;
    display: inline-block;
    text-align: left;
    outline: 1px solid gray;
}*/
.login-body {
 background: url(Images/sativa.png);
}
.form-box {
    background-color: white;
    position: relative;
    margin-left:25%;
    padding: 5%;
    border: 1px solid #E7E7E7;
    -webkit-box-shadow: 0px 3px 12px 7px rgba(230,225,230,1);
    -moz-box-shadow: 0px 3px 12px 7px rgba(230,225,230,1);
    box-shadow: 0px 3px 12px 7px rgba(230,225,230,1);
}
.form-login {
    margin-left:7%;
}
.btn-login {
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: palevioletred;
    color: white;
    align-self: center;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: white;
    background-color: salmon;
    border-color: lightgray;
}

.borda {
    outline: 1px solid gray;
}

.borda-marg {
    margin-right: 10px;
    margin-top: 10px;
}




.formDestaque {
    font-size: 12px;
    border-bottom: 1px solid rgb(235, 235, 235);
    width: 100%;
    column-span: all;
}

.btn-singin {
    margin-top: 23%;
    background-color:salmon;
    color: white;
    border-color:white;
}

.linhavertical {
    border-left: thick solid #ff0000;
}

.logoLogin {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoMasterPage {
    height: 27px;
}

.espaco {
    padding-bottom: 10px;
}

.item {
    outline: 1px solid gray;
}

.button__menu {
    color: white;
    display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
    position: relative; /* All 'absolute'ly positioned elements are relative to this one */
    padding: 2px 5px; /* Add some padding so it looks nice */
}

.button__badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    position: absolute; /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
}



.navbar-brand > img {
    height: 27px;
    width: auto;
}
.singup-box {
    background-color: white;
    border: 1px solid lightgray;
    -webkit-box-shadow: 0px 3px 12px 7px rgba(230,225,230,1);
    -moz-box-shadow: 0px 3px 12px 7px rgba(230,225,230,1);
    box-shadow: 0px 3px 12px 7px rgba(230,225,230,1);
}
.singup-side {
    padding: 3% 5% 5% 5%;

}
